* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.containerSection {
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 400px;
  flex: 1;
}

.hoverStyle {
  height: inherit;
}

.otherSection {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 50vh;
}

.hLine {
  width: 100%;
  height: 0.5px;
  background-color: #888;
}

.rootFlexAttributes {
  flex: 1;
  padding: 20px 0px;
}

.heading {
  margin: 10px 40px;
  font-size: 20px;
  font-weight: bold;
}

.attributesContainer {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.eachAttributeColumn {
  min-width: 150px;
  padding: 0px 10px;
}

.itemOperationsContainer {
  width: 150px;
  padding: 0px 10px;
  margin: 0px 20px;
}

.attribute {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.value,
.itemOperations {
  font-size: 14px;
  color: #ffa500;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.rootFlexCode {
  padding: 40px 20px;
  min-width: 300px;
  min-height: 200px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

@media (hover: hover) {
  .value:hover,
  .itemOperations:hover {
    background-color: #ffebc7;
  }
}

@media (max-width: 1023px) {
  .attributesContainer {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .otherSection {
    flex-direction: column;
  }
  .eachAttributeColumn {
    padding: 10px;
  }
  .rootFlexCode {
    padding: 20px 40px;
    min-width: 240px;
  }
  .itemOperationsContainer {
    flex: 1;
  }
}
